spring:
    profiles: docker
    
    datasource:
        url: jdbc:postgresql://postgres:5432/passengerflow  # Имя контейнера
        username: admin 
        password: karleon
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 20
            minimum-idle: 5
            idle-timeout: 30000
            connection-timeout: 30000
    
    jpa:
        hibernate:
            ddl-auto: update  # Лучше update, чем create-drop в production
        show-sql: true
        properties:
            hibernate:
                format_sql: true
                jdbc:
                    batch_size: 20
                order_inserts: true
                order_updates: true