spring:
    profiles:
        active: dev
    application:
        name: passenger-flow-system
    
    security:
        enabled: true

    datasource:
        url: jdbc:postgresql://postgres:5432/passengerflow
        username: admin
        password: karleon
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 10           # Уменьшено с 20
            minimum-idle: 5                 # Минимальное количество idle соединений
            idle-timeout: 30000             # 30 секунд (в миллисекундах)
            connection-timeout: 30000       # 30 секунд
            max-lifetime: 1800000           # 30 минут
            leak-detection-threshold: 60000 # 60 секунд
            validation-timeout: 5000        # 5 секунд
    
    jpa:
        hibernate:
            ddl-auto: update              # ИЗМЕНИТЕ: вместо create-drop
        show-sql: true
        properties:
            hibernate:
                format_sql: true
                jdbc:
                    batch_size: 20
                order_inserts: true
                order_updates: true
        database-platform: org.hibernate.dialect.PostgreSQLDialect
    
    # Telegram
    telegram:
        bot:
            token: "8298138115:AAFqjtK0Yz68FB_8mftP-IFK7BvdslscQWI"
            username: "qwe24567Bot"
        log:
            chat-id: "-5294378665"

server:
    port: 8080

logging:
    level:
        org.hibernate.SQL: DEBUG
        org.hibernate.type.descriptor.sql.BasicBinder: TRACE
        com.example.demo: DEBUG
        org.springframework: INFO
        org.springframework.security: OFF